{% extends('base.html.twig')%}

{% block stylesheet %}

{% endblock %}

{% block body %}
<br>
<div class="box">
<h3>Nuevo Programa</h3>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
<br>

{% endblock %}
