{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Actualizar Voluntario
{% endblock %}
{# CONTENIDO #}
{% block body %}
<br>
<div class="box">
  <h3>Actualizar Voluntario</h3>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}
